<br />
<div class="row">
  <div class="col-10">
    <h1 class="h3">Frases</h1>
  </div>
  <div class="col-2">
    <button
      type="button"
      class="btn btn-sm btn-primary"
      (click)="buscarFrases()"
    >
      Buscar
    </button>
    &nbsp;
    <button type="button" class="btn btn-sm btn-secundary" (click)="limpiar()">
      Limpiar
    </button>
  </div>
</div>
<br />
<div class="spinner spinner-border" role="status" *ngIf="isLoading">
  <span class="sr-only">Cargando...</span>
</div>
<div class="row" *ngIf="!isLoading && frases.length > 0">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th *ngFor="let letra of arrABC">{{ letra }}</th>
        <th scope="col">Suma Numericos Contenidos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let frase of frases; let i = index">
        <td>{{ i + 1 }}</td>
        <td *ngFor="let letra of arrABC; let a = index">
          {{ frase.quantity[a] }}
        </td>
        <td>{{ frase.sum }}</td>
      </tr>
      <!-- <tr *ngIf="numeros.length == 0">
        <td colspan="5" style="text-align: center">
          El servicio no encontro numeros para procesar.
        </td>
      </tr> -->
    </tbody>
  </table>
</div>
