<br />
<div class="row">
  <div class="col-10">
    <h1 class="h3">Numeros</h1>
  </div>
  <div class="col-2">
    <button
      type="button"
      class="btn btn-sm btn-primary"
      (click)="buscarNumeros()"
    >
      Buscar
    </button>
    &nbsp;
    <button type="button" class="btn btn-sm btn-secundary" (click)="limpiar()">
      Limpiar
    </button>
  </div>
</div>
<br />
<div class="spinner spinner-border" role="status" *ngIf="isLoading">
  <span class="sr-only">Cargando...</span>
</div>
<div class="alert alert-danger" role="alert" *ngIf="isError">
  Ocurrio un error en el servidor.
</div>
<div class="row" *ngIf="!isLoading && numeros.length > 0 && !isError">
  <div class="col-12" *ngIf="!isLoading && numeros.length > 0 && !isError">
    <div class="form-group">
      <label>Numeros Ordenados</label>
      <input
        type="text"
        [(ngModel)]="numerosOrdenados"
        class="form-control"
        disabled="disabled"
      />
    </div>
  </div>
  <div class="col-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Number</th>
          <th scope="col">quantity</th>
          <th scope="col">First Position</th>
          <th scope="col">Last Position</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let numero of numeros; let i = index"
          [ngClass]="{
            verde: numero.quantity >= 2,
            amarillo: numero.quantity == 1,
            gris: numero.quantity < 1
          }"
        >
          <td>{{ i + 1 }}</td>
          <td>{{ numero.number }}</td>
          <td>{{ numero.quantity }}</td>
          <td>{{ numero.firstPosition }}</td>
          <td>{{ numero.lastPosition }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
