<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">Prueba</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a
        class="nav-item nav-link"
        routerLink="/Numeros"
        routerLinkActive="active"
        >Numeros</a
      >
      <a
        class="nav-item nav-link"
        routerLink="/Frases"
        routerLinkActive="active"
        >Frases</a
      >
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
